@import "tailwindcss";

:root {
  --background: #FEF9F3;
  --foreground: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-mun-cream: #FEF9F3;
  --color-mun-red: #A93434;
  --color-mun-dark: #1a1a1a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}